.main {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.table th {
  background-color: #4CAF50; 
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:nth-child(odd) {
  background-color: #ffffff;
}

.table td {
  background-color: #ffffff;
  color:black
}

.link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.link:hover {
  background-color: #005bb5;
}
